#hanging-options .feature-card-container img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
}

#hanging-recipes .card img:first-child {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#hanging-recipes .card .card-body {
    height: 360px;
    overflow-y: auto;
}

#hanging-warehouse .food-historic-request {
    max-height: 500px;
    overflow-y: auto;
}

#hanging-warehouse .recipe-ingredients {
    max-height: 500px;
}

#orders-cards-container .card-title {
    background-color: #0000005e;
    padding: 0.3rem;
}

#orders-cards-container .card-text {
    background-color: #0000005e;
    padding: 0 0.3rem;
}

#orders-cards-container .item-image {
    height: 350px;
    object-fit: cover;
}

#item-alert-container {
    position: absolute;
    top: 70px;
    right: 20px;
    width: 350px;
    min-height: 60px;
}